<!DOCTYPE html>
	<html>
	<head>
		<title> WiFi Occupancy Sensor - 
		</title>
		 <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
	</head>
	<body>
		<h1><strong>Network: </strong>TBithia</h1>
		<div id="occupantTable">
		<h3 >Occupants:</h3>
		 <table style="width:100%">
		  <tr>
		    <th>Occupant</th>
		    <th>Devices</th>
		    <th>Length of Activity</th>
		  </tr>
		  <tr>
		    <td>Ben</td>
		    <td>2</td>
		    <td>19:34:23</td>
		  </tr>
		  <tr>
		    <td>Morgan</td>
		    <td>1</td>
		    <td>0:3:15</td>
		  </tr>
		</table>
		</div> 
	</body>
	</html>